extends ../layout

block main-content
  .container.body-content
    .row
      for category in categories
        .col-md-6
          header
            h2
              - let categoryLink = '/category/' + category.id
              a(href=categoryLink)
                | #{category.name} (
                | #{category.articles.length}

